<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto</title>
    <link rel="stylesheet" href="/css/style-createProduct.css">
</head>
<body>
    <form action="" method="POST">
        <div>
            <label for="nombreProducto">Nombre del producto</label>
            <input type="text" name = "name" id="nombreProducto" required>
        </div>
        <div>
            <label for="descripcionProducto">Descripción</label>
            <textarea name="description" id="descripcionProducto" cols="30" required></textarea>
        </div>
        <div>
            <label for="imagenproducto">Imagen</label>
            <input type="file" name="image" id="imagenproducto" accept=".jpg, .png" multiple required>
        </div>
        <div>
            <label for="categoriaProducto">Categoría</label>
            <select name="category" id="categoriaProducto" required>
                <option value="lfajores">Alfajores</option>
                <option value="caramelos">Caramelos</option>
                <option value="chupetines">Chupetines</option>
                <option value="galletas">Galletas</option>
            </select>
        </div>
        <div>
            <label for="precioProducto">Precio</label>
            <input type="text" name = "price" id="precioProducto" required>
        </div>
        <div>
            <button type="submit">Agregar nuevo producto</button>
        </div>
    </form>
    
</body>
</html>