<!DOCTYPE html>
<html lang="es">

<head>

	<%- include('../partials/head') %>
		<link rel="stylesheet" href="/css/styles-header.css">
		<link href="/css/styles-productCart.css" rel="stylesheet">
		<script src="/js/cart.js"></script>
		<title>Golosinas Mailin</title>
</head>

<body>

	<%- include('../partials/header') %>

	<h1 class="titulo">CARRITO</h1>
		<main>
			<div class="contenedor-carrito">
				<table class="tabla_productos">
					<thead>
						<tr class="subtitulos">
							<th class="col-1 subtitulos_producto" colspan="3">PRODUCTO</th>
							<th class="col-2">PRECIO</th>
							<th class="col-3">CANTIDAD</th>
							<th class="col-4">SUBTOTAL</th>
						</tr>
					</thead>
					<tbody class="cardRows">				
					</tbody>
				</table>
				<div class="contenedor_total">
						<h2>TOTAL: <span class="totalCarrito"></span></h2>
				</div>
			</div>
			<div class="seguir-finalizar">
				<a href="/productos" class="boton_seguir-comprando"> <i
						class="fa-solid fa-arrow-left"></i> SEGUIR COMPRANDO</a>
				<button class="boton_finalizar-compra">FInalizar Compra</button>
			</div>

	
		</main>

		<%- include('../partials/footer') %>

</body>

</html>