<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-formProduct.css">
    <title>Agregar Producto</title>

</head>

<body>
    <header>
        <div class="header__container">
            <div class="header__logo">
                <a href="/">
                    <img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="golosinas-mailin" />
                </a>
            </div>

        </div>

    </header>
    <main>
        <div class="main__enlaces">
            <a href="/">Inicio </a><span class="span"> > </span><a href="/productos"> Productos</a><span class="span"> > </span><a href="/productos/create"> Agregar</a>
        </div>
        
        <div class="form-contenedor">
            
            <form action="/productos" method="POST" enctype="multipart/form-data"  class="formulario" >
                <h2 class="form-titulo">Agregar Producto</h2>
                <div class="form-items form-items-1">
                    <label for="nombreProducto">Nombre del producto</label>
                    <input type="text" name="nombre" id="nombreProducto" class="input-nombre" required>
                </div>
                <div class="form-items form-items-1">
                
                    <label for="descripcionProducto" class="form__label">Descripción</label>
                    <textarea name="descripcion" id="descripcionProducto" cols="30" required></textarea>
                </div>
                <div class="form-items form-items-1">
                    <label for="imagenproducto">Seleccionar imagen</label>
                    <input type="file" name="img" id="imagenproducto" accept=".jpg, .png" class="input-foto"
                        required>
                </div>
                <div class="form-items form-items-1">
                    <label for="categoriaProducto"> Categoría </label>
                    <select name="categoria" id="categoriaProducto" class="categorias" required>
                        <% categorias.forEach(element => {%>
                            <option value="alfajores" ><%= element %></option>  
                         <% }); %>
                    </select>
                </div>
                <div class="form-items">
                    <label for="stockProducto"> Stock </label>
                    <input type="number" min="0" name="stock" id="stockProducto" class="input-stock" placeholder="0" required>
                </div>
                <div class="form-items">
                    <label for="enOferta"> En oferta </label>
                    <input type = "checkbox" name = "enOferta" value="si" id = "enOferta" class="input-oferta" >
                </div>
                <div class="form-items">
                    <label for="precioProducto"> Precio $ </label>
                    <input type="number" min="0" step="0.1" name="precio" id="precioProducto" class="input-precio" placeholder="0.00" required>
                </div>
                <div class="form-items">
                    <label for="descuento"> Descuento % </label>
                    <input type="number" min="0" name="descuento" id="descuento" class="input-descuento" placeholder="0">
                </div>
                <div class="botones-form">
                    <a type="button" class="action-button btn-regresar" href="/productos"> Regresar </a>
                    <button type="submit" class="action-button btn-guardar"> Guardar </button>

                </div>
            </form>
        </div>
    </main>

</body>

</html>