<!DOCTYPE html>

<html lang="es">
	
	<head>
		
		<meta charset="UTF-8">
		<title>Golosinas Mailin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="https://kit.fontawesome.com/d964575e02.js" crossorigin="anonymous"></script>
		
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
		
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		
		<link href="/css/normalize.css" rel="stylesheet">
		<link href="/css/styles-productCart.css" rel="stylesheet">
		
	</head>
	
	<body>
		
		<header>
			<div class="header__container">
				<div class="header__logo">
					<a href="/"><img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="" /></a>
				</div>
	
				<nav class="nav-bar">
					<ul class="nav-bar__options">
						<li><a href="">Categorias</a></li>
						<li><a href="">Ofertas</a></li>
						<li><a href="">Ayuda</a></li>
					</ul>
				</nav>
	
				<div class="header__search">
					<input type="search" placeholder="Buscar..." class="header__search--input" />
					<a href="" class="header__search--icon"><i class="fa-solid fa-magnifying-glass"></i></a>
				</div>
	
				<div class="header__icons">
					<a class="burger-menu__boton"><i class="fas fa-bars"></i></a>
					<a href="/login" class="header__icons--user"><i class="fa-solid fa-circle-user"></i></a>
					<a href="" class="header__icons--cart"><i class="fa-solid fa-cart-shopping"></i></a>
				</div>
	
			</div>
		</header>
		
		<main>
			
			<div class="info">
				
				<h1 class="titulo">CARRITO</h1>
				
				<nav class="nav-carrito">
					<a href="#" class="nav-carrito__link">  <h2 class="nav-carrito__texto">CARRITO</h2>  </a>
					<h2 class="nav-carrito__texto nav-carrito__texto--separador">></h2>
					<a href="#" class="nav-carrito__link">  <h2 class="nav-carrito__texto">DETALLES DE PAGO</h2>  </a>
					<h2 class="nav-carrito__texto nav-carrito__texto--separador"">></h2>
					<a href="#" class="nav-carrito__link">  <h2 class="nav-carrito__texto">PEDIDO COMPLETADO</h2>  </a>
				</nav>
				
				<section class="productos">
					
					<div class="subtitulos">
						<h3 class="subtitulos__subtitulo subtitulos__subtitulo--mayor">PRODUCTO</h3>
						<h3 class="subtitulos__subtitulo subtitulos__subtitulo--tablet">PRECIO</h3>
						<h3 class="subtitulos__subtitulo"> CANTIDAD</h3>
						<h3 class="subtitulos__subtitulo subtitulos__subtitulo--tablet">SUBTOTAL</h3>
					</div>
					
					<article class="producto">
						
						<div class="boton-cancelar">
							<button class="boton-cancelar__boton"><i class="fa-solid fa-x boton-cancelar__icono"></i></button>
						</div>
						
						<img src="./images/alfajor__fantoche.png" class="producto__img">
						
						<div class="descripcion">
							<p class="descripcion__nombre">ALFAJOR FANTOCHE TRIPLE X12U</p>
							<p class="descripcion__precio">$000.00</p>
						</div>
						
						<div class="cantidad">
							
							<div class="cantidad-p">
								<input type="number" value="1" min="1" />

								<div class="btn-increment-decrement">
									<i class="fa-solid fa-chevron-up" id="increment"></i>
									<i class="fa-solid fa-chevron-down" id="decrement"></i>
								</div>
							</div>
							
						</div>
						
						<div class="subtotal">
							<p class="subtotal__numero">0000.00</p>
						</div>
						
					</article>
					
					<article class="producto">
						
						<div class="boton-cancelar">
							<button class="boton-cancelar__boton"><i class="fa-solid fa-x boton-cancelar__icono"></i></button>
						</div>
						
						<img src="./images/alfajor__milka.png" class="producto__img">
						
						<div class="descripcion">
							<p class="descripcion__nombre">ALFAJOR MILKA X24U</p>
							<p class="descripcion__precio">$000.00</p>
						</div>
						
						<div class="cantidad">
							
							<div class="cantidad-p">
								<input type="number" value="1" min="1" />

								<div class="btn-increment-decrement">
									<i class="fa-solid fa-chevron-up" id="increment"></i>
									<i class="fa-solid fa-chevron-down" id="decrement"></i>
								</div>
							</div>
							
						</div>
						
						<div class="subtotal">
							<p class="subtotal__numero">0000.00</p>
						</div>
						
					</article>
					
					<article class="producto">
						
						<div class="boton-cancelar">
							<button class="boton-cancelar__boton"><i class="fa-solid fa-x boton-cancelar__icono"></i></button>
						</div>
						
						<img src="./images/alfajor_terrabusi.png" class="producto__img">
						
						<div class="descripcion">
							<p class="descripcion__nombre">ALFAJOR TERRABUSI X12U</p>
							<p class="descripcion__precio">$000.00</p>
						</div>
						
						<div class="cantidad">
							
							<div class="cantidad-p">
								<input type="number" value="1" min="1" />

								<div class="btn-increment-decrement">
									<i class="fa-solid fa-chevron-up" id="increment"></i>
									<i class="fa-solid fa-chevron-down" id="decrement"></i>
								</div>
							</div>
							
						</div>
						
						<div class="subtotal">
							<p class="subtotal__numero">0000.00</p>
						</div>
						
					</article>
					
					<div class="botones-productos">
						
						<button class="botones-productos__boton"> <i class="fa-solid fa-arrow-left"></i> SEGUIR COMPRANDO</button>
						<button class="botones-productos__boton">ACTUALIZAR CARRITO <i class="fa-solid fa-arrow-rotate-left"></i> </button>
						
					</div>
					
				</section>
					
				<div class="final">
				
					<section class="total">
					
						<h2 class="total__titulo">TOTAL DE CARRITO</h2>
						
						<div class="cuadro-total">
							<p class="cuadro-total__texto">SUBTOTAL</p>
							<p class="cuadro-total__numero">$000.00</p>
						</div>
						
						<div class="cuadro-total">
							<p class="cuadro-total__texto">ENVIO</p>
							<p class="cuadro-total__numero">$000.00</p>
						</div>
						
						<div class="cuadro-total">
							<p class="cuadro-total__texto cuadro-total__texto--total">TOTAL</p>
							<p class="cuadro-total__numero cuadro-total__numero--total">$000.00</p>
						</div>
						
						<button class="total__boton">REALIZAR COMPRA</button>
						
					</section>
					
					
					<section class="cupones">
						
						<form class="formulario-cupones">
							<label class="cupones-titulo"> <h2 class="cupones-titulo__texto"> <i class="fa-solid fa-tags"></i> CUPONES <i class="fa-solid fa-tags"></i> </h2> </label>
							<input type="text" name="cupon" class="formulario-cupones__input">
							<button type="submit" class="formulario-cupones__boton">APLICAR CUPON</button>
							
						</form>
						
					</section>
					
				</div>
				
			</div>
			
		</main>
		
		<footer>
			
		<div class="footer">
            <img src="/images/logo-golosinas-mailin.svg" alt="" />
            <div class="footer__contacto">

                <div class="footer__contactoSurcusal">
                    <h3 class="footer__contacto-sucursal">Sucursal</h3>
                    <p class="footer__contacto-direc">Av. Bolivia Sur 125 (La Banda)</p>
                    <p><i class="fa-solid fa-phone"></i> 385-4123456</p>
                </div>
                <div class="footer__contacto-redes">
                    <h3>Nuestras Redes</h3>
                    <!--<div class="contacto-redes">
                        <a href="https://www.facebook.com/people/Golosinas-Mailin-Mayorista/100064696055833/"><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>-->
                    <div class="contacto-redes">
                        <a href="https://www.facebook.com/people/Golosinas-Mailin-Mayorista/100064696055833/"
                            class="img-redes"><img src="images/facebook.png" alt="facebook"></a>
                        <a href="https://www.instagram.com/golosinas_mailin/" class="img-redes"><img src="images/instagram.png" alt="instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
			
		</footer>
		
	</body>
	
</html>