<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles-index.css">

    <title>Golosinas Mailin</title>
</head>
<body>
  

    <header>
        <div class="header__container">
            <div class="header__logo">
                <img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="" />
            </div>
    
            <nav class="nav-bar">
                <ul class="nav-bar__options">
                    <li><a href="">Categorias</a></li>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
    
            <div class="header__search">
                <input type="search" placeholder="Buscar..." class="header__search--input" />
                <a href="" class="header__search--icon"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
    
            <div class="header__icons">
                <a class="burger-menu__boton"><i class="fas fa-bars"></i></a>
                <a href="" class="header__icons--user"><i class="fa-solid fa-circle-user"></i></a>
                <a href="" class="header__icons--cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
    
        </div>
    </header>


    <main>

        <section class="main__banner">
            <img src="./images/banner-fantoche.jpg" class="main__banner-img">
        </section>

        <section class="main__categoria">
            <h3 class="main-title">Categorías</h3>

            <div class="main__categoria-container">
                <a href="" class="main__categoria-link"><img src="./images/categoria-alfajores.jpg" alt="" class="main__categoria-img"></a>
                <a href="" class="main__categoria-link"><img src="./images/categoria-caramelos.jpg" alt="" class="main__categoria-img"></a>
                <a href="" class="main__categoria-link"><img src="./images/categoria-chupetines.jpg" alt="" class="main__categoria-img"></a>
                <a href="" class="main__categoria-link"><img src="./images/categoria-galletas.jpg" alt="" class="main__categoria-img"></a>
            </div>

        </section>

        <section class="main__ofertas">
            
            <h3 class="main-title">Ofertas Destacadas</h3>

            <div class="card">

                <div class="card-slider left" id="card-slider-left">
                    <i class="fa-solid fa-angle-left"></i>
                </div>

                <article class="main__ofertas--card">

                    <div class="main__ofertas--card-img">
                        <img src="images/oferta-fantoche.png" alt="alfajor-fantoche">
                    </div>

                    <div class="card-descripcion">
                        <p class="main__ofertas--card-categ">ALFAJORES</p>
                        <a href="" class="main__ofertas--card-titulo">
                            ALFAJOR FANTOCHE TRIPLE X12U</a>
                        <p class="main__ofertas--card-precio">$2.710,00</p>
                        <button class="main__ofertas-button agregar-carrito">Añadir al carrito</button>
                    </div>
                    
                </article>

                <article class="main__ofertas--card">
                    <div class="main__ofertas--card-img">
                        <img src="images/oferta-pelotita.png" alt="chupetin-pelotita">

                    </div>
                    <div class="card-descripcion">
                        <p class="main__ofertas--card-categ">CHUPETINES</p>
                        <a href="" class="main__ofertas--card-titulo">CHUPETIN PELOTITA DULCE DE LECHE X12</a>
                        <p class="main__ofertas--card-precio">$8.760,00</p>
                        <button class="main__ofertas-button agregar-carrito">Añadir al carrito</button>
                    </div>
                </article>

            
                <article class="main__ofertas--card">

                    <div class="main__ofertas--card-img">
                        <img src="images/oferta-desfile.png" alt="galleta-desfile">

                    </div>
                    <div class="card-descripcion">
                        <p class="main__ofertas--card-categ">GALLETAS</p>
                        <a href="" class="main__ofertas--card-titulo">GALLETA LIA DESFILE X 398GR X21</a>
                        <p class="main__ofertas--card-precio">$9.850,00</p>
                        <button class="main__ofertas-button agregar-carrito">Añadir al carrito</button>
                    </div>
                </article>

                <article class="main__ofertas--card">
                    <div class="main__ofertas--card-img">
                        <img src="images/oferta-misky.png" alt="masticable-misky">

                    </div>
                    <div class="card-descripcion">
                        <p class="main__ofertas--card-categ">CARAMELOS</p>
                        <a href="" class="main__ofertas--card-titulo">
                            MASTICABLES MISKY X800gr X10</a>
                        <p class="main__ofertas--card-precio">$14.800,00</p>
                        <button class="main__ofertas-button agregar-carrito">Añadir al carrito</button>
                    </div>
                </article>
                
                <div class="card-slider" id="card-slider-right">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>

        </section>

    </main>

    <footer>
        <div class="footer">
            <img src="/images/logo-golosinas-mailin.svg" alt="" />
            <div class="footer__contacto">

                <div class="footer__contactoSurcusal">
                    <h3 class="footer__contacto-sucursal">Sucursal</h3>
                    <p class="footer__contacto-direc">Av. Bolivia Sur 125 (La Banda)</p>
                    <p><i class="fa-solid fa-phone"></i> 385-4123456</p>
                </div>
                <div class="footer__contacto-redes">
                    <h3>Nuestras Redes</h3>
                    <div class="contacto-redes">
                        <a href="https://www.facebook.com/people/Golosinas-Mailin-Mayorista/100064696055833/"
                            class="img-redes"><img src="images/facebook.png" alt="facebook"></a>
                        <a href="https://www.instagram.com/golosinas_mailin/" class="img-redes"><img src="images/instagram.png" alt="instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>