<!DOCTYPE html>

<html lang="es">
	
	<head>
		
		<meta charset="UTF-8">
		<title>Golosinas Mailin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="https://kit.fontawesome.com/d964575e02.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		
		<link href="./css/normalize.css" rel="stylesheet">
		<link href="./css/styles-productCart.css" rel="stylesheet">
		
	</head>
	
	<body>
		
		<header class="header">
			
			<div class="logo">
            <img src="./images/Logo-golisinas-mailin.svg" class="logo__img" alt="" />
			</div>

			<nav class="nav-bar">

				<ul class="opiones">
					<li class="opciones__opcion"><a href="#" class="opcion__link">Categorias</a></li>
					<li class="opciones__opcion"><a href="#" class="opcion__link">Ofertas</a></li>
					<li class="opciones__opcion"><a href="#" class="opcion__link">Ayuda</a></li>
				</ul>

			</nav>

			<div class="buscador">
				<input type="search" placeholder="Buscar..." class="buscador__input">
				<a href="" class="buscador__icono"><i class="fa-solid fa-magnifying-glass"></i></a>
			</div>


			<div class="iconos">
				<a class="icono icono--burger-menu"><i class="fas fa-bars"></i></a>
				<a href="#" class="icono icono--user"><i class="fa-solid fa-circle-user"></i></a>
				<a href="#" class="icono icono--carrito"><i class="fa-solid fa-cart-shopping"></i></a>
			</div>

		</header>
		
		<main>
			
			<div class="info">
				
				<h1 class="titulo">CARRITO</h1>
				
				<nav class="nav-carrito">
					<a href="#" class="nav-carrito__link">  <h2 class="nav-carrito__texto">CARRITO</h2>  </a>
					<h2 class="nav-carrito__texto nav-carrito__texto--separador">></h2>
					<a href="#" class="nav-carrito__link">  <h2 class="nav-carrito__texto">DETALLES DE PAGO</h2>  </a>
					<h2 class="nav-carrito__texto nav-carrito__texto--separador"">></h2>
					<a href="#" class="nav-carrito__link">  <h2 class="nav-carrito__texto">PEDIDO COMPLETADO</h2>  </a>
				</nav>
				
				<section class="productos">
					
					<div class="subtitulos">
						<h3 class="subtitulos__subtitulo subtitulos__subtitulo--mayor">PRODUCTO</h3>
						<h3 class="subtitulos__subtitulo subtitulos__subtitulo--tablet">PRECIO</h3>
						<h3 class="subtitulos__subtitulo"> CANTIDAD</h3>
						<h3 class="subtitulos__subtitulo subtitulos__subtitulo--tablet">SUBTOTAL</h3>
					</div>
					
					<article class="producto">
						
						<div class="boton-cancelar">
							<button class="boton-cancelar__boton"><i class="fa-solid fa-x boton-cancelar__icono"></i></button>
						</div>
						
						<img src="./images/img-indefinida.png" class="producto__img">
						
						<div class="descripcion">
							<p class="descripcion__nombre">Nombre del producto</p>
							<p class="descripcion__precio">$000.00</p>
						</div>
						
						<div class="cantidad">
							
							<form class="formulario-cantidad">
							
								<button class="formulario-cantidad__boton">+</button>
								<input type="number" class="formulario-cantidad__input">
								<button class="formulario-cantidad__boton">-</button>
								
							</form>
							
						</div>
						
						<div class="subtotal">
							<p class="subtotal__numero">0000.00</p>
						</div>
						
					</article>
					
					<article class="producto">
						
						<div class="boton-cancelar">
							<button class="boton-cancelar__boton"><i class="fa-solid fa-x boton-cancelar__icono"></i></button>
						</div>
						
						<img src="./images/img-indefinida.png" class="producto__img">
						
						<div class="descripcion">
							<p class="descripcion__nombre">Nombre del producto</p>
							<p class="descripcion__precio">$000.00</p>
						</div>
						
						<div class="cantidad">
							
							<form class="formulario-cantidad">
							
								<button class="formulario-cantidad__boton">+</button>
								<input type="number" class="formulario-cantidad__input">
								<button class="formulario-cantidad__boton">-</button>
								
							</form>
							
						</div>
						
						<div class="subtotal">
							<p class="subtotal__numero">0000.00</p>
						</div>
						
					</article>
					
					<article class="producto">
						
						<div class="boton-cancelar">
							<button class="boton-cancelar__boton"><i class="fa-solid fa-x boton-cancelar__icono"></i></button>
						</div>
						
						<img src="./images/img-indefinida.png" class="producto__img">
						
						<div class="descripcion">
							<p class="descripcion__nombre">Nombre del producto</p>
							<p class="descripcion__precio">$000.00</p>
						</div>
						
						<div class="cantidad">
							
							<form class="formulario-cantidad">
							
								<button class="formulario-cantidad__boton">+</button>
								<input type="number" class="formulario-cantidad__input">
								<button class="formulario-cantidad__boton">-</button>
								
							</form>
							
						</div>
						
						<div class="subtotal">
							<p class="subtotal__numero">0000.00</p>
						</div>
						
					</article>
					
					<div class="botones-productos">
						
						<button class="botones-productos__boton">SEGUIR COMPRANDO</button>
						<button class="botones-productos__boton">ACTUALIZAR CARRITO</button>
						
					</div>
					
				</section>
					
					
				<section class="total">
					
					<h2 class="total__titulo">TOTAL DE CARRITO</h2>
					
					<div class="cuadro-total">
						<p class="cuadro-total__texto">SUBTOTAL</p>
						<p class="cuadro-total__numero">$000.00</p>
					</div>
					
					<div class="cuadro-total">
						<p class="cuadro-total__texto">ENVIO</p>
						<p class="cuadro-total__numero">$000.00</p>
					</div>
					
					<div class="cuadro-total">
						<p class="cuadro-total__texto">TOTAL</p>
						<p class="cuadro-total__numero">$000.00</p>
					</div>
					
					<button class="total__boton">REALIZAR COMPRA</button>
					
				</section>
				
				
				<section class="cupones">
					
					<form class="formulario-cupones">
						<label class="cupones-titulo"> <h2 class="cupones-titulo__texto">CUPONES</h2> </label>
						<input type="text" name="cupon" class="formulario-cupones__input">
						<button type="submit" class="formulario-cupones__boton">APLICAR CUPON</button>
						
					</form>
					
				</section>
				
			</div>
			
		</main>
		
		<footer>
			
			
			
		</footer>
		
	</body>
	
</html>