<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golosinas Mailin</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="css/style-productDetail.css" />
    <link rel="stylesheet" href="css/normalize.css" />

</head>

<body>
    <header>
        <div class="header__container">
            <div class="header__logo">
                <a href="/"><img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="" /></a>
            </div>

            <nav class="nav-bar">
                <ul class="nav-bar__options">
                    <li><a href="">Categorias</a></li>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>

            <div class="header__search">
                <input type="search" placeholder="Buscar..." class="header__search--input" />
                <a href="" class="header__search--icon"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>

            <div class="header__icons">
                <a class="burger-menu__boton"><i class="fas fa-bars"></i></a>
                <a href="/login" class="header__icons--user"><i class="fa-solid fa-circle-user"></i></a>
                <a href="/productCart" class="header__icons--cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>

        </div>
    </header>

    <main class="main__container">
        <section class="main__producto">
            <div class="main__producto-enlaces">
                <a href="#">Inicio > </a><a href="#">Alfajores</a>

            </div>
            <div class="main__producto-img" id="contenedor">
                <img src="images/alfajor__fantoche.png" alt="alfajor fantoche">
            </div>
            <div class="main__producto-detalle">

                <h2 class="main__producto-nombre">ALFAJOR FANTOCHE TRIPLE BLANCO 85g</h2>
                <p class="main__producto-detalle--precio">$6.099,13</p>
                <p class="main__producto-detalle-disponible">Disponible</p>
                <!--<div class="main__producto-detalle-cantidad">
                   <div class="cantidad">
                        <a href="#" class="boton-menos"><i class="fa-solid fa-minus"></i></a>
                        <input type="number" value="1" min="1">
                        <a href="#" class="boton-mas"><i class="fa-solid fa-plus"></i></a>
                    </div>
                    <button class="agregar-carrito">Añadir a carrito</button>
                </div>
                <div class="main__producto-detalle-cantidad">
                   <input type="number" value="1" min="1">
                    <button class="agregar-carrito">Añadir a carrito</button>
                </div>-->

                <div class="main__producto-detalle-cantidad ">
                    <div class="cantidad">
                        <input type="number" value="1" min="1" />

                        <div class="btn-increment-decrement">
                            <i class="fa-solid fa-chevron-up" id="increment"></i>
                            <i class="fa-solid fa-chevron-down" id="decrement"></i>
                        </div>
                    </div>
                    <button class="agregar-carrito">
                        Añadir al carrito
                    </button>
                </div>

                <p class="main__producto-detalle-info">SKU: <span id="sku">4585</span></p>
                <p class="main__producto-detalle-info" id="categoria">Categoria: <a href="" id="categoria">Alfajores</a>
                </p>
            </div>
        </section>

        <section class="main__producto-descripcion">
            <h4 class=".descripcion">Descripción</h4>
            <p>ALFAJOR FANTOCHE TRIPLE BLANCO 85g CAJA x24</p>
        </section>


        <section class="main__producto-relacionado">
            <h3>PRODUCTOS RELACIONADOS</h3>
            <div class="card">
                <div class="card-slider left" id="card-slider-left">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <article class="producto-relacionado--card">
                    <div class="producto-relacionado--card-img">
                        <img src="images/alfajor_trishot.png" alt="alfajor trishot">
                    </div>
                    <div class="card-descripcion">
                        <p class="producto-relacionado--card-categ">TRIPLE</p>
                        <a href="" class="producto-relacionado--card-titulo">
                            ALFAJOR TRISHOT 60g x6</a>
                        <p class="producto-relacionado--card-precio">$1.968,32</p>
                        <button class="producto-relacionado-button agregar-carrito">Añadir al carrito</button>
                    </div>
                </article>
                <article class="producto-relacionado--card">
                    <div class="producto-relacionado--card-img">
                        <img src="images/alfajor_terrabusi.png" alt="alfajor terrabusi">

                    </div>
                    <div class="card-descripcion">
                        <p class="producto-relacionado--card-categ">TRIPLE</p>
                        <a href="" class="producto-relacionado--card-titulo">ALFAJOR FANTOCHE TRIPLE CHOCOLATE 85g
                            x24</a>
                        <p class="producto-relacionado--card-precio">$6.776,83</p>
                        <button class="producto-relacionado-button agregar-carrito">Añadir al carrito</button>
                    </div>
                </article>
                <article class="producto-relacionado--card">
                    <div class="producto-relacionado--card-img">
                        <img src="images/alfajor__fantoche-negro.png" alt="alfajor terrabusi">

                    </div>
                    <div class="card-descripcion">
                        <p class="producto-relacionado--card-categ">TRIPLE</p>
                        <a href="" class="producto-relacionado--card-titulo">
                            ALFAJOR TERR TORTA 70g x6</a>
                        <p class="producto-relacionado--card-precio">$2.086,35</p>
                        <button class="producto-relacionado-button agregar-carrito">Añadir al carrito</button>
                    </div>
                </article>
                <article class="producto-relacionado--card">
                    <div class="producto-relacionado--card-img">
                        <img src="images/alfajor__milka.png" alt="alfajor terrabusi">

                    </div>
                    <div class="card-descripcion">
                        <p class="producto-relacionado--card-categ">TRIPLE</p>
                        <a href="" class="producto-relacionado--card-titulo">
                            ALFAJOR MILKA 3 MOUSSE 55g x6</a>
                        <p class="producto-relacionado--card-precio">$1.900,30</p>
                        <button class="producto-relacionado-button agregar-carrito">Añadir al carrito</button>
                    </div>
                </article>
                <article class="producto-relacionado--card">
                    <div class="producto-relacionado--card-img">
                        <img src="images/alfajor__milka.png" alt="alfajor terrabusi">

                    </div>
                    <div class="card-descripcion">
                        <p class="producto-relacionado--card-categ">TRIPLE</p>
                        <a href="" class="producto-relacionado--card-titulo">
                            ALFAJOR MILKA 3 MOUSSE 55g x6</a>
                        <p class="producto-relacionado--card-precio">$1.900,30</p>
                        <button class="producto-relacionado-button agregar-carrito">Añadir al carrito</button>
                    </div>
                </article>
                <div class="card-slider" id="card-slider-right">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>

        </section>

    </main>

    <footer>
        <div class="footer">
            <img src="/images/logo-golosinas-mailin.svg" alt="" />
            <div class="footer__contacto">

                <div class="footer__contactoSurcusal">
                    <h3 class="footer__contacto-sucursal">Sucursal</h3>
                    <p class="footer__contacto-direc">Av. Bolivia Sur 125 (La Banda)</p>
                    <p><i class="fa-solid fa-phone"></i> 385-4123456</p>
                </div>
                <div class="footer__contacto-redes">
                    <h3>Nuestras Redes</h3>
                    <!--<div class="contacto-redes">
                        <a href="https://www.facebook.com/people/Golosinas-Mailin-Mayorista/100064696055833/"><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>-->
                    <div class="contacto-redes">
                        <a href="https://www.facebook.com/people/Golosinas-Mailin-Mayorista/100064696055833/"
                            class="img-redes"><img src="images/facebook.png" alt="facebook"></a>
                        <a href="https://www.instagram.com/golosinas_mailin/" class="img-redes"><img src="images/instagram.png" alt="instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>