*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #FF217A;
    --color-3: #0f95b6;
    --color-2: #1A1265;
    --color-grisOscuro: #6b6b6b;
    --color-grisClaro: #ebebeb;
    --color-footer: #0d1117

}

body{
    font-family: 'Quicksand';
    background-color: white;
}

/* header */

header {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
    border-top: 8px dashed #FF217A;
    margin-bottom: 10px;
    background-color: white;

}

.header__container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    
}

.header__logo {
    display: flex;
    width: 30%;
    padding-right: 10px;
    border-radius: 10px;

}

.header__logo--img {
    width: 100%;

}

/* main */

main{
    margin: 20px 0;
}

.formulario-register {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    background-color:white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    text-align: left;
    align-items: center;
    justify-content: center;
}

.form-register h2{
    text-align: center;
    font-size: 26px;
    margin: 5px;
}

.form-register {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 18px;
}

input {
    margin: 10px 0px;
    width: 100%;
}

.termInput {
    margin: 10px 0px;
    width:auto ;
}

.form-register input {
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 10px;
    border-color: #FF217A;
}

.btn-form{
    display: flex;
    justify-content: space-evenly;
}

.btn-form button{
    border: none;
    background-color: #FF217A;
    color: white;
    width: 170px;
    padding: 10px ;
    font-weight: 600;
    font-family: 'Quicksand';
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
  }

  /*media*/

  @media (min-width:460px) {
    .formulario-register {
        width: 70%;
        max-width: 650px;
    }
  }



@media (min-width: 577px) {
    .header__container {
        justify-content: space-between;
    }

    .header__logo {
        width: 20%;
    }
    .form-register {
        margin: 5% 20%;
   }
}


@media (min-width: 769px) {

    .header__logo {
        width: 15%;
    }
    .form-register {
        margin: 5% 20%;
   }

}



@media (min-width: 1025px) {
  

    .footer__contactoSurcusal p {
        font-size: 16px;
    }

}