* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif, 'Quicksand';
    font-size: 14px;
}

.main__container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 0;
}

.main__img {
    margin: 0 auto;
    max-width: 200px;
}

.img_error {
    width: 100%;
}

.main__error{
    text-align: center;
    width: 100%;
    font-family: 'Quicksand';
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
}

.code__error{
    color:#1A1265;
    font-size:50px;
    margin: 0;
}

.text__error{
    color:#1A1265;
    margin: 0;
    font-size: 22px;
}



@media (min-width: 769px){


    .main__img {
       
        max-width: 300px;
    }
 
   
    } 
    
    


@media (min-width: 1024px){

.main__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.main__img{
    margin: 0;
    max-width: 350px;

}

.main__error{
    width:max-content;

}
.code__error{
    font-size:75px;
}

.text__error{
    font-size: 30px;
}


} 

