:root {
    --color-1: #FF217A;
    --color-3: #0f95b6;
    --fuente: 'Quicksand';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Quicksand', sans-serif;
    background-color: white;
    font-size: 14px;
}

header {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
    border-top: 8px dashed #FF217A;

}


.header__container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-family: 'Quicksand';
}


.header__logo {
    display: flex;
    width: 30%;
    padding-right: 10px;
    border-radius: 10px;

}

.header__logo--img {
    width: 100%;

}

main{
    margin: 40px auto;
    width: 90%;
}

.main__enlaces {
    width: 90%;
    margin: 20px auto  0;
    color: #212529;
    font-size: 12px;

}

.main__enlaces a {
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: var(--color-grisOscuro);
    font-weight: 500;
    text-transform: uppercase;

}

.main__enlaces a:hover {
    color: var(--color-3);
    font-weight: bold;
}


.form-contenedor {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.form-titulo {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.formulario {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.form-items {
    display: flex;
    gap: 10px;
    transition: flex-direction 0.5s ease;
}

.form-items-1{
    flex-direction: column;
}


input,
textarea {
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
    font-family: 'Quicksand', sans-serif; 
}

textarea {
    resize: vertical;
}

.input-precio, .input-descuento, .input-stock {
    width: 50%;
}

.input-foto {
    font-family: 'Quicksand';
    border: none;
    padding: 8px;
    font-size: 14px;
}

.input-oferta {
    max-width: min-content;
}

.categorias {
    padding: 8px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.categorias option {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.botones-form {
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.action-button {
    padding: 10px 15px;
    width: 170px;
    text-decoration: none;
text-align: center;
    border: none;
    padding: 8px;
    color: #fff;
    font-weight: bold;
    font-family: 'Quicksand';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  }
  

.btn-regresar {
    order: 1;
 background-color: #1A1265; 

}

.btn-guardar {
    order: -1;
    background-color: #0f95b6;

}

.btn-regresar:hover, .btn-guardar:hover {
  background-color: #0d1117;
}
.main__options {
    margin: 15px 0 0;
    text-align: center;
    font-size: 14px;
}

.main__options a {
    text-decoration: none;
    color: var(--color-3);
    font-weight: bold;
}

.main__options a:hover {

    color: var(--color-2);

}

footer{ 
       background-color: #0d1117;
       height: 30px;
}

@media (min-width:540px) {

    

    .form-contenedor {
        width: 80%;

    }

    .form-items {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    label {
        text-align: end;
        width: 30%;
    }

    input,
    textarea {
    
        width: 60%;
    }

    .input-precio, .input-descuento, .input-stock {
        width: 30%;
    }


    .categorias {
        width: 30%;
    }


    .botones-form {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .btn-regresar {
        order: -1;
    }

    .btn-guardar {
        order: 1;

    }
}

@media (min-width: 577px) {
    .header__container {
        justify-content: space-between;
    }

    .header__logo {
        width: 20%;
    }

}


@media (min-width:768px){
    .header__logo {
        width: 15%;
    }

    .main__enlaces {
        width: 70%;
                font-size: 14px;
        
            }
        
        
            .main__enlaces a {
                font-size: 16px;
            }
        

    .form-contenedor {
        width: 60%;

    }

    .form-titulo {
        font-size: 24px;
    }

    label{
        font-size: 16px;
    }

}

@media (min-width:1025px){
    .form-contenedor {
        width: 50%;
        
    }
    .input-precio, .input-descuento, .input-stock {
        width: 20%;
    }
    
    
    .categorias {
        width: 20%;
    }

        .header__logo {
            width: 12%;
        }
   
}