:root {
    --color-1: #FF217A;
    --color-3: #0f95b6;
    --color-2: #1A1265;
    --color-grisOscuro: #6b6b6b;
    --color-grisClaro: #ebebeb;
    --fuente: 'Quicksand';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif, 'Quicksand';
    font-size: 14px;
}

/*MAIN*/
.main__container {
    background-color: #ffffff;
    width: 90%;
    margin: 10px auto;
    font-family: 'Quicksand';
}

.main__producto {
    width: 100%;
    margin:0 auto; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 20px;
    margin-bottom: 50px;

    transition: all 0.5s ease-in;

}

.main__producto-enlaces {
    width: 100%;
    text-decoration: none;
    padding: 10px 0;
}

.main__producto-enlaces a {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-grisOscuro);
    font-weight: 500;
}

.main__producto-enlaces span{
    font-size: 16px;
    text-decoration: none;
    color: var(--color-grisOscuro);
    font-weight: 500;
} 


.main__producto-enlaces a:hover {
    color: var(--color-3);
    font-weight: 600;
}

.main-contenedor--descuento{
    background-color: #FF217A;
    width: 45px;
    height: 45px;
    position: relative;
    text-align: center;
  }

  .main-contenedor--descuento:before,
  .main-contenedor--descuento:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: #FF217A;
   
  }
  .main-contenedor--descuento:before {
    transform: rotate(30deg);
  }
  .main-contenedor--descuento:after {
    transform: rotate(60deg);
  }

  .main__producto-img>.main-contenedor--descuento {
    display: block;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 15%;

  }
  .main-descuento{
    z-index: 5;
    color: white;
    font-weight: 600;
    font-size: 12px;
  }

.main__producto-img {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 10px;
}

.main__producto-img img {
    transition: transform 0.5s ease-in-out;
    width: 70%;
}

.main__producto-img:hover img {
    transform: scale(1.1) rotate(-5deg);
}

.main__producto-detalle {
    padding: 5px 0;
}

.main__producto-nombre {
    padding: 5px 0;
    color: black;
    font-size: 16px;
    border-bottom: 1.5px #d1d1d1 solid;
}

.main__producto-detalle--precio {
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.main-precio{
    text-decoration: line-through;
    font-size: 16px;
    color: #313131;
    font-weight: 500;
}

.main__producto-detalle-disponible {
    font-size: 14px;
    padding: 5px 0;
    color: #0f8b47;
    font-weight: 600;
}

/*

.cantidad {
    border: 1px solid var(--color-grisOscuro);
    border-radius: 15px;
    padding: 0 5px;
    background-color: var(--color-grisClaro);
}

/*
.cantidad a i {
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 3px;
}

.main__producto-detalle-cantidad input {
   
    
    width: 50px;
    border: none;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    border-left: 1px solid var(--color-grisOscuro);
    border-right: 1px solid var(--color-grisOscuro);
}

.agregar-carrito {
    background-color: var(--color-2);
    color: #EBEBEB;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    transition: 0.3s background-color ease-in;
}

.agregar-carrito:hover {
    background-color: var(--color-3);
}*/

.main__producto-detalle-cantidad {
    margin: 10px 0;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
}

.cantidad {
    position: relative;
}

.cantidad input {
    background-color: var(--color-grisClaro);
    border: none;
    padding: 8px;
    padding-left: 15px;
    width: 70px;
    height: 100%;
    color: var(--color-grisOscuro);
    font-weight: 500;
    line-height: 0;

}

.cantidad input:focus {
    outline: none;
    background-color: white;
    border: 1px solid var(--color-grisOscuro);

}

/* .cantidad input::-webkit-inner-spin-button,
.cantidad input::-webkit-outer-spin-button {
    -webkit-appearance: none;
} */

/* .cantidad input {
    -moz-appearance: textfield;
    appearance: textfield;
} */
/* 

.btn-increment-decrement {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;
    right: 7px;
}

.btn-increment-decrement i {
    font-size: 11px;
    color: #4d4b4b;
    cursor: pointer;
}

.btn-increment-decrement i:hover {
    color: var(--color-3);
} */

.agregar-carrito {
    letter-spacing: 0.5px;
    border: none;
    padding: 8px 10px;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    background-color: var(--color-3);
    width: 200px;
    text-transform: uppercase;
    border-radius: 3px;
}

.agregar-carrito:hover {
    background-color: #252525;
}

.main__producto-descripcion {
    padding: 5px 0;
    margin-top: 15px;
    border-top: 1.5px #d1d1d1 solid;;
    border-bottom: 1.5px #d1d1d1 solid;
    margin-bottom: 5px;
}
.main__producto-descripcion h4{
    font-size: 14px;
}

.main__producto-descripcion p {
    padding: 5px 0;
} 


.main__producto-detalle-info {
    font-size: 12px;
 
}

.main__producto-detalle-info a {
    text-decoration: none;
    color: black;
}

.main__producto-detalle-info a:hover {
    color: var(--color-3);
    font-weight: 550;
}
.btn-product{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: end;
}
/*
.action-button {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
    width: 170px;
    text-align: center;
    letter-spacing: 0.5px;
  }
  
  .action-button.edit {
    border:2px solid  var(--color-2);
    background-color:  var(--color-2);

  }
  .action-button.delete {
    border:2px solid rgb(189, 37, 37);
    background-color: rgb(189, 37, 37);
  }

  .action-button.edit:hover {
    border:2px solid  var(--color-2);
    color: var(--color-2);
  }
  .action-button.delete:hover {
    border:2px solid rgb(189, 37, 37);
    color: rgb(189, 37, 37);
  }

  .action-button:hover{
    background-color: white;
    font-weight: 600;
  }
 */
 
.botones-edit-delete{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.botones-edit-delete{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.botones-edit-delete span{
    display: inline;
    font-weight: bold;
}

.boton-edit{
    text-decoration: none;
    color: #212529;
    font-size: 14px;
    border: 1px solid  #212529;
    border-radius: 3px;
    width: 90px;
    padding: 5px;
    text-align: center;
}

.boton-cancelar span, .boton-edit span{
    font-weight: bold;
}

.boton-cancelar {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 14px;
    color: #212529;
    border: 1px solid  #212529;
    border-radius: 3px;
    width: 120px;
    padding: 5px;
    text-align: center;
}

.boton-edit:hover{
    color:  var(--color-2);
    border: 1px solid  var(--color-2);
}

.boton-cancelar:hover{
    border: 1px solid  #dc3545;
    color: #dc3545;
}



/*SECCION PRODUCTOS RELACIONADOS*/

.main__producto-relacionado {
    width: 100%;
    margin: 20px auto 50px;
    position: relative;
}


.main__producto-relacionado h3 {
    width: 100%;
    font-family: var(--fuente);
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}



/*footer*/

footer {
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
    font-family: 'Quicksand';
    background-color: #0d1117;
    color: white;
}




@media (min-width: 577px) {
    /* .header__container {
        justify-content: space-between;
    }

    .header__logo {
        width: 20%;
    } */


    .main-contenedor--descuento{
        width: 55px;
        height: 55px;
      }
    
      .main-contenedor--descuento:before,
      .main-contenedor--descuento:after {
        width: 55px;
        height: 55px;
       
      }

      .main__producto {
          width: 90%;
      
      
      }

      .main-descuento{
        font-size: 14px;
      }


}

@media (min-width: 601px) {


    .main__producto-enlaces a {
        font-size: 18px;
    }


    .main__producto-nombre {
        font-size: 22px;
    }


    .agregar-carrito {

        font-size: 14px;
    }

 
    
    .main__producto-descripcion p {
        font-size: 14;
    } 


    


}



@media (min-width: 769px) {

    /*MAIN*/


    .main__producto {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1.1fr;
        grid-template-rows: auto 1fr ;
        grid-template-areas:
            "enlace detalle"
            "img detalle";

            width: 100%;
    }

    .main__producto-enlaces {
        grid-area: enlace;
        padding: 5px 0;
        text-align: start;
        margin-left: 20px;
        margin-top: 10px;
    }

    .main__producto-enlaces a {
        font-size: 16px;
    }

    .main__producto-img {
        order: -1;
        grid-area: img;
        padding: 0px;
        overflow: hidden;
        position: relative;
        height: 400px;
        width: 100%;

    }

    .main__producto-img img{
        width: 90%;
    }


    .main__producto-img>.main-contenedor--descuento {
        top: 10%;
        left: 15%;
    
      }
    .main__producto-detalle {
margin-top: 30px;
        width: 100%;
        grid-area: detalle;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding-right: 20px;
    }

 

.btn-product{
    grid-area: botones;
    justify-self: end;

    
}


    .main__producto-enlaces a {
        font-size: 18px;
    }



    .main__producto-nombre {
        font-size: 22px;
    }

    .main__producto-detalle--precio {
        font-size: 24px;
    }

    .main-precio{
        font-size: 18px;
    }

    .main__producto-detalle-disponible{
        font-size: 16px;
    }

    .action-button{
        width: 180px;
    }

    .main-contenedor--descuento{
        width: 60px;
        height: 60px;
      }
    
      .main-contenedor--descuento:before,
      .main-contenedor--descuento:after {
        width: 60px;
        height: 60px;
       
      }

 .main-descuento{
    font-size: 16px;
 }


}


@media (min-width: 1025px) {



    .main__producto {
width: 90%;
    }



    .main__producto-nombre {
        font-size: 26px;
    }

   

    .main__producto-img img {
        width: 60%;
    }

    .main__producto-descripcion h4, p{
        font-size: 16px;
    }

    .main__producto-detalle-info{
        font-size: 14px;
    }



    .main-precio-final {
        font-size: 24px;
    }


}