:root {
    --color-1: #FF217A;
    --color-3: #0f95b6;
    --color-2: #1A1265;
    --color-grisOscuro: #6b6b6b;
    --color-grisClaro: #ebebeb;
    --fuente: 'Quicksand';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif, 'Quicksand';
    font-size: 14px;
}

/*HEADER*/

header {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
    border-top: 8px dashed #FF217A;
    margin-bottom: 10px;

}

.header__container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-family: 'Quicksand';
}


.header__logo {
    display: flex;
    width: 30%;
    padding-right: 10px;
    border-radius: 10px;

}

.header__logo--img {
    width: 100%;

}

.header__search>.header__search--icon {
    border: none;
    
    display: block;
    font-size: 20px;
    padding: 5px;
    width: 40px;
    color: white;
    background-color:#0f95b6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
    position: absolute;
    top: -1px;
    right: -1px;
    text-align: center;
    cursor: pointer;

}

.header__search {
    display: none;
    border: 1px solid #6b6b6b;
    border-radius: 5px;
    position: relative;
    height: 35px;
    padding: 2px;
}

.header__search--input {
    width: 100%;
    border: none;
    padding: 5px;
    outline: none;
    font-size: 16px;
}

.nav-bar {
    display: none;
}

.nav-bar__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar a {
    text-decoration: none;
    color: #1A1265;
    display: inline-block;
    padding: 5px 5px;
    font-weight: bold;
}

.header__icons {
    display: flex;
    text-align: center;
    justify-content: end;
    align-items: center;
    width: 40%;
}

.header__icons a:hover {
    color: #0f95b6;
}

.header__icons--user {
    color: #1A1265;
    font-size: x-large;
    width: 30%;
    order: 2;
}

.header__icons--cart {
    color: #1A1265;
    font-size: x-large;
    width: 30%;
    order: 1;
}

.header__burguer-menu{
    width: 30%;
    order: 3;
}

.header__burguer-menu i {
    color: #1A1265;
    font-size: x-large;
}

.burguer-menu__options{
    display: none;
    position: fixed;
    right: 1%;
    width: 50%;
}

.input__burguer-menu{
    display: none;
}

.input__burguer-menu:checked ~ .burguer-menu__options{
    display: block;
}

.burguer-menu__options li{
    display: block;
    background:  #1A1265;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid  white;
}

.burguer-menu__options li a{
    text-decoration: none;
    color: white;
}


/*MAIN*/
.main__container {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    font-family: 'Quicksand';
}

.main__producto {
    width: 100%;
    margin:0 auto; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 20px;
    margin-bottom: 50px;

    transition: all 0.5s ease-in;

}

.main__producto-enlaces {
    width: 100%;
    text-decoration: none;
    padding: 10px 0;
}

.main__producto-enlaces a {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-grisOscuro);
    font-weight: 500;
}

.main__producto-enlaces span{
    font-size: 16px;
    text-decoration: none;
    color: var(--color-grisOscuro);
    font-weight: 500;
} 


.main__producto-enlaces a:hover {
    color: var(--color-3);
    font-weight: 600;
}

.main-contenedor--descuento{
    background-color: #FF217A;
    width: 45px;
    height: 45px;
    position: relative;
    text-align: center;
  }

  .main-contenedor--descuento:before,
  .main-contenedor--descuento:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: #FF217A;
   
  }
  .main-contenedor--descuento:before {
    transform: rotate(30deg);
  }
  .main-contenedor--descuento:after {
    transform: rotate(60deg);
  }

  .main__producto-img>.main-contenedor--descuento {
    display: block;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 15%;

  }
  .main-descuento{
    z-index: 5;
    color: white;
    font-weight: 600;
    font-size: 12px;
  }

.main__producto-img {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 10px;
}

.main__producto-img img {
    transition: transform 0.5s ease-in-out;
    width: 70%;
}

.main__producto-img:hover img {
    transform: scale(1.1) rotate(-5deg);
}

.main__producto-detalle {
    padding: 5px 0;
}

.main__producto-nombre {
    padding: 5px 0;
    color: black;
    font-size: 16px;
    border-bottom: 1.5px #d1d1d1 solid;
}

.main__producto-detalle--precio {
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.main-precio{
    text-decoration: line-through;
    font-size: 16px;
    color: #313131;
    font-weight: 500;
}

.main__producto-detalle-disponible {
    font-size: 14px;
    padding: 5px 0;
    color: #0f8b47;
    font-weight: 600;
}

/*

.cantidad {
    border: 1px solid var(--color-grisOscuro);
    border-radius: 15px;
    padding: 0 5px;
    background-color: var(--color-grisClaro);
}

/*
.cantidad a i {
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 3px;
}

.main__producto-detalle-cantidad input {
   
    
    width: 50px;
    border: none;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    border-left: 1px solid var(--color-grisOscuro);
    border-right: 1px solid var(--color-grisOscuro);
}

.agregar-carrito {
    background-color: var(--color-2);
    color: #EBEBEB;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    transition: 0.3s background-color ease-in;
}

.agregar-carrito:hover {
    background-color: var(--color-3);
}*/

.main__producto-detalle-cantidad {
    margin: 10px 0;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
}

.cantidad {
    position: relative;
}

.cantidad input {
    background-color: var(--color-grisClaro);
    border: none;
    padding: 8px;
    padding-left: 15px;
    width: 70px;
    height: 100%;
    color: var(--color-grisOscuro);
    font-weight: 500;
    line-height: 0;

}

.cantidad input:focus {
    outline: none;
    background-color: white;
    border: 1px solid var(--color-grisOscuro);

}

/* .cantidad input::-webkit-inner-spin-button,
.cantidad input::-webkit-outer-spin-button {
    -webkit-appearance: none;
} */

/* .cantidad input {
    -moz-appearance: textfield;
    appearance: textfield;
} */
/* 

.btn-increment-decrement {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;
    right: 7px;
}

.btn-increment-decrement i {
    font-size: 11px;
    color: #4d4b4b;
    cursor: pointer;
}

.btn-increment-decrement i:hover {
    color: var(--color-3);
} */

.agregar-carrito {
    letter-spacing: 0.5px;
    border: none;
    padding: 8px 10px;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px;
    background-color: var(--color-3);
    width: 200px;
    text-transform: uppercase;
}

.agregar-carrito:hover {
    background-color: #252525;
}

.main__producto-descripcion {
    padding: 5px 0;
    margin-top: 15px;
    border-top: 1.5px #d1d1d1 solid;;
    border-bottom: 1.5px #d1d1d1 solid;
    margin-bottom: 5px;
}
.main__producto-descripcion h4{
    font-size: 14px;
}

.main__producto-descripcion p {
    padding: 5px 0;
} 


.main__producto-detalle-info {
    font-size: 12px;
 
}

.main__producto-detalle-info a {
    text-decoration: none;
    color: black;
}

.main__producto-detalle-info a:hover {
    color: var(--color-3);
    font-weight: 550;
}
.btn-product{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action-button {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
    width: 170px;
    text-align: center;
    letter-spacing: 0.5px;
  }
  
  .action-button.edit {
    border:2px solid  var(--color-2);
    background-color:  var(--color-2);

  }
  .action-button.delete {
    border:2px solid rgb(189, 37, 37);
    background-color: rgb(189, 37, 37);
  }

  .action-button.edit:hover {
    border:2px solid  var(--color-2);
    color: var(--color-2);
  }
  .action-button.delete:hover {
    border:2px solid rgb(189, 37, 37);
    color: rgb(189, 37, 37);
  }

  .action-button:hover{
    background-color: white;
    font-weight: 600;
  }
 

/*SECCION PRODUCTOS RELACIONADOS*/

.main__producto-relacionado {
    width: 100%;
    margin: 20px auto 50px;
    position: relative;
}


.main__producto-relacionado h3 {
    width: 100%;
    font-family: var(--fuente);
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}



/*footer*/

footer {
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
    font-family: 'Quicksand';
    background-color: #0d1117;
    color: white;
}

.footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.footer img {

    width: 40%;
    max-width: 150px;

}

.footer__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}


.footer__contactoSurcusal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer__contactoSurcusal p {
    padding: 5px 0;
}


.footer__contacto-redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer__contacto-redes h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.contacto-redes a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.img-redes img {
    width: 25px;

}



@media (min-width: 577px) {
    .header__container {
        justify-content: space-between;
    }

    .header__logo {
        width: 20%;
    }

    .footer {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

    }

    .footer__contacto {
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;

    }

    .footer__contactoSurcusal {
        align-items: flex-start;
        margin: 0;

    }

    .footer img {
        align-self: flex-start;
    }


    .footer__contacto-sucursal {
        font-size: 18px;
    }

    .footer__contacto-redes h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .main-contenedor--descuento{
        width: 55px;
        height: 55px;
      }
    
      .main-contenedor--descuento:before,
      .main-contenedor--descuento:after {
        width: 55px;
        height: 55px;
       
      }

      .main__producto {
          width: 90%;
      
      
      }

      .main-descuento{
        font-size: 14px;
      }


}

@media (min-width: 601px) {


    .main__producto-enlaces a {
        font-size: 18px;
    }


    .main__producto-nombre {
        font-size: 22px;
    }


    .agregar-carrito {

        font-size: 12px;
    }

 
    
    .main__producto-descripcion p {
        font-size: 14;
    } 


    


}



@media (min-width: 769px) {
    /*HEADER*/

    .header__logo {
        width: 15%;
    }

    .header__search {
        display: flex;
        justify-content: end;
        align-items: start;
        width: 25%;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar__options {
        display: flex;
    }


    .nav-bar li {
        display: flex;
        margin: 0 5px;
        text-align: center;
    }

    .header__burguer-menu {
        display: none;
    }

      .header__icons {
        display: flex;
        justify-content: flex-end;
        width: 15%;
    }

    .nav-bar a{
        font-size: 16px;
    } 

    .nav-bar a:hover{
        color:#0f95b6;
    } 


    /*MAIN*/


    .main__producto {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1.1fr;
        grid-template-rows: auto 1fr ;
        grid-template-areas:
            "enlace detalle"
            "img detalle";

            width: 100%;
    }

    .main__producto-enlaces {
        grid-area: enlace;
        padding: 5px 0;
        text-align: start;
        margin-left: 20px;
        margin-top: 10px;
    }

    .main__producto-enlaces a {
        font-size: 16px;
    }

    .main__producto-img {
        order: -1;
        grid-area: img;
        padding: 0px;
        overflow: hidden;
        position: relative;
        height: 400px;
        width: 100%;

    }

    .main__producto-img img{
        width: 90%;
    }


    .main__producto-img>.main-contenedor--descuento {
        top: 10%;
        left: 15%;
    
      }
    .main__producto-detalle {
margin-top: 30px;
        width: 100%;
        grid-area: detalle;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding-right: 20px;
    }

    .agregar-carrito{
        font-size: 12px;
    }

.btn-product{
    grid-area: botones;
    justify-self: end;

    
}


    .main__producto-enlaces a {
        font-size: 18px;
    }



    .main__producto-nombre {
        font-size: 22px;
    }

    .main__producto-detalle--precio {
        font-size: 24px;
    }

    .main-precio{
        font-size: 18px;
    }

    .main__producto-detalle-disponible{
        font-size: 16px;
    }

    .action-button{
        width: 180px;
    }

    .main-contenedor--descuento{
        width: 60px;
        height: 60px;
      }
    
      .main-contenedor--descuento:before,
      .main-contenedor--descuento:after {
        width: 60px;
        height: 60px;
       
      }

 .main-descuento{
    font-size: 16px;
 }


    /*FOOTER*/
    .footer__contacto-sucursal {
        font-size: 20px;
    }

    .footer__contacto-redes h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footer__logo-contacto {
        display: flex;
        flex-direction: row;
        gap: 20px;

    }

}


@media (min-width: 1025px) {

    .nav-bar a {
        font-size: 18px;
    }

    .footer__contactoSurcusal p {
        font-size: 16px;
    }

    .main__producto {
width: 90%;
    }



    .main__producto-nombre {
        font-size: 26px;
    }

   

    .main__producto-img img {
        width: 60%;
    }

    .main__producto-descripcion h4, p{
        font-size: 16px;
    }

    .main__producto-detalle-info{
        font-size: 14px;
    }



    .main-precio-final {
        font-size: 24px;
    }


}