/*generales*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
	background-color: #ffffff;
    font-family: 'Roboto', sans-serif, 'Quicksand';
    font-size: 14px;
}
:root {
    --color-1: #FF217A;
    --color-3: #0f95b6;
    --color-2: #1A1265;
    --color-grisOscuro: #6b6b6b;
    --color-grisClaro: #ebebeb;
    --color-footer: #0d1117;
    --fuente: 'Quicksand';
}


/*main*/

.titulo{
	width:100%;
	text-align:center;
	padding:5%;
}
.nav-carrito{
	display:none;
}
.productos{
	display:flex;
	flex-wrap:wrap;
	margin:0px 5%;
}
.subtitulos{
	display:flex;
	justify-content:space-between;
	width:100%;
}
.subtitulos__subtitulo--tablet{
	display:none;
}
.producto{
	display:flex;
	border-top: solid 1px var(--color-grisOscuro);
}
.boton-cancelar{
	display:flex;
	width:10%;
}
.boton-cancelar__boton{
	background-color:transparent;
	width:100%;
	border:none;
}
.boton-cancelar__icono{
	font-size:1.5em;
}
.producto__img{
	width:25%;
	margin:2.5%;
}
.descripcion{
	width:40%;
	margin:2.5%;
}
.descripcion__nombre{
	height:70%;
	font-weight:500;
}
.descripcion__precio{
	margin: 0px 5px;
}
.cantidad{
	display:inline-flex;
	width:20%;
	align-items:center;
}
.formulario-cantidad{
	display:inline-flex;
}
.formulario-cantidad__boton{
	width:33.33%;
	height:30%;
}
.formulario-cantidad__input{
	width:33.33%;
	height:30%;
	text-align:center;
	-moz-appearance:textfield;
}
.subtotal{
	display:none;
}
.botones-productos{
	width:100%;
	display:flex;
	padding: 5% 0px;
	border-top:solid 1px var(--color-grisOscuro);
	justify-content:space-between;
}
.botones-productos__boton{
	height:30px;
    text-decoration: none;
}
.total{
	margin:5%;
	border:solid 1px black;
	text-align:center;
	padding:10%;
}
.total__titulo{
	text-align:center;
}
.cuadro-total{
	display:flex;
	border-top:solid 1px black;
	justify-content:space-between;
}
.cuadro-total__numero--total{
	font-size:1.2em;
	font-weight:700;
}
.cuadro-total__texto--total{
	font-size:1.2em;
	font-weight:700;
}
.total__boton{
	margin-top:3%;
	padding:2%;
}
.cupones{
	margin:5%;
	text-align:center;
	border:solid 1px black;
}
.formulario-cupones{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.cupones-titulo{
		width:100%;
}
.cupones-titulo__texto{
	margin-top:15px;
}
.formulario-cupones__input{
	width:80%;
	margin:3% 10%;
}
.formulario-cupones__boton{
	padding:1%;
	margin-bottom:15px;
	
}
.formulario-cupones__boton {
    letter-spacing: 0.5px;
    border: none;
    padding: 10px;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
    background-color: var(--color-3);
}
.total__boton{
	letter-spacing: 0.5px;
    border: none;
    padding: 10px;
    color: #f7f7f7;
	gap: 5px;
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
    background-color: var(--color-3);
}
.botones-productos__boton{
	letter-spacing: 0.5px;
    border: none;
    padding: 10px;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
    background-color: var(--color-3);
}
.formulario-cupones__boton:hover {
    background-color: #252525;
}
.botones-productos__boton:hover {
    background-color: #252525;
}
.total__boton:hover {
    background-color: #252525;
}

/*copia -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.--.-.*/
.cantidad-p {
    position: relative;
}

.cantidad-p input {
    background-color: var(--color-grisClaro);
    border: none; 
    padding: 8px;
    padding-left: 15px;
    width: 70px;
    height: 100%;
    color: var(--color-grisOscuro);
    font-weight: 500;
    line-height: 0;

}

.cantidad-p input:focus {
    outline: none;
    background-color: white;
    border: 1px solid var(--color-grisOscuro);

}
/*
.cantidad-p input::-webkit-inner-spin-button,
.cantidad-p input::-webkit-outer-spin-button {
 -webkit-appearance: none;
}
*/
.cantidad-p input{
    -moz-appearance: textfield;
    appearance: textfield;
}


.btn-increment-decrement {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;
    right: 7px;
}

.btn-increment-decrement i {
    font-size: 11px;
    color: #4d4b4b;
    cursor: pointer;
}

.btn-increment-decrement i:hover {
    color: var(--color-3);
}
/*fin copia .-.-.-.--.-.-.-.-.-.-.-.-.-.-.-.-.-.-.*/


/*media*/

@media (min-width: 577px){

	
	
}

@media (min-width: 769px){

	
	/*main*/
	.titulo{
		display:none;
	}
	.nav-carrito{
		justify-content:center;
		padding:5%;
	}
	.nav-carrito__link{
		text-decoration:none;
		color:var(--color-grisOscuro);
	}
	.nav-carrito__texto--separador{
		margin:0px 10px;
		color:var(--color-grisOscuro);
	}
	.subtitulos__subtitulo--mayor{
		width:40%;
	}
	.subtitulos__subtitulo--tablet{
	display:block;
	}
	.boton-cancelar{
		width:5%;
	}
	.producto__img{
		width:15%;
		margin: 2.5% 0px;
	}
	.descripcion{
		display:flex;
		justify-content:space-between;
		width:35%;
	}
	.descripcion__nombre{
		height:100%;
		display:flex;
		align-items:center;
	}
	.descripcion__precio{
		height:100%;
		display:flex;
		align-items:center;
	}
	.cantidad{
		width:15%;
		margin:0px 5%;
	}
	.subtotal{
		display:flex;
		width:10%;
		margin:2.5% 0px;
		margin-left:5%;
		align-items:center;
	}
	.cuadro-total__texto{
	margin:5px 0px;
}
.cuadro-total__numero{
	margin:5px 0px;
}
	
	
	
}

@media (min-width:1024px){
	
  
	.info{
		width:100%;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-around;
	}
	
	.productos{
		width:50%;
		margin-right:0px;
	}
	.boton-cancelar__boton:hover{
		background-color:rgba(255,0,0,0.5);
		color:rgba(255,255,255,0.8);
	}
	.subtotal{
		margin-left:0px;
	}
	.total{
		padding:4%;
		margin-top:0px;
		margin-right:5%;
		height:50%;
	}
	
	
	
	
}
@media (min-width:1440px){
	
    .nav-bar a {
        font-size: 18px;
    }

	.info{
		width:100%;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-around;
	}
	
	.productos{
		width:50%;
        text-align: left;
		margin: right 100px;
	}
	.boton-cancelar__boton:hover{
		background-color:rgba(255,0,0,0.5);
		color:rgba(255,255,255,0.8);
	}
	.subtotal{
		margin-left:0px;
	}
	.total{
		padding:4%;
		margin-top:0px;
		margin-right:5%;
		height:50%;
	}
	
	
	/*footer*/
	.footer__contactoSurcusal p {
        font-size: 16px;
    }
	
}
