*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white ;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --color-1: #FF217A;
    --color-3: #0f95b6;
    --color-2: #1A1265;
    --color-grisOscuro: #6b6b6b;
    --color-grisClaro: #ebebeb;
    --color-footer: #0d1117;
}

header{
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
    border-top: 8px dashed #FF217A;
    
}


.header__container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-family: 'Quicksand';
}


.header__logo {
    display: flex;
    width: 30%;
    padding-right: 10px;
    border-radius: 10px;

}

.header__logo--img {
    width: 100%;

}

.main__login-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10%;
}


.main__form-group {
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    padding: 10px;
    padding-left: 0px;
    display: flex;
    margin: 5px;
    justify-content: center;
}

.main__recordarUsuario{
    padding-bottom: 20px;
   }
   
   .main__recordarUsuario label {
     padding-bottom: 5px;
     display: block;
     text-align: left;
     font-size: smaller;
   }
   
   .main__recordarUsuario input {
     width: 20px;
     height: 10px;
     vertical-align: center;
   }

.main__form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: larger;
}
.main__recordarUsuario{
 padding-bottom: 20px;
}

.main__recordarUsuario label {
  padding-bottom: 5px;
  display: block;
  text-align: left;
  font-size: smaller;
}

.main__recordarUsuario input {
  width: 20px;
  height: 10px;
  vertical-align: center;
}

.main__form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-color: var(--color-1);
}

.main__form-group button {
    background-color: var(--color-3);
    color: var(--color-grisClaro);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.main__form-group button:hover {
    background-color: var(--color-2);
}

.main__options {
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
}

.main__options a {
    font-size: 12px;
    text-align: left;
    color: var(--color-footer);
}

footer {
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
    font-family: 'Quicksand';
    background-color: #0d1117;
    color: white;
}

.footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.footer img {

    width: 40%;
    max-width: 150px;

}

.footer__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}


.footer__contactoSurcusal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer__contactoSurcusal p {
    padding: 5px 0;
}


.footer__contacto-redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer__contacto-redes h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.contacto-redes a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}


.img-redes img {
    width: 25px;

}


@media (min-width: 577px) { 
    .header__container {
        justify-content: space-between;
    }
    .header__logo {
        width: 20%;
    }
    
    .main__login-container {
         margin: 5% 20%;
    }
    
    .footer {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

    }

    .footer__contacto {
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;

    }

    .footer__contactoSurcusal {
        align-items: flex-start;
        margin: 0;

    }

    .footer img {
        align-self: flex-start;
    }


    .footer__contacto-sucursal {
        font-size: 18px;
    }

    .footer__contacto-redes h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }


}

@media (min-width: 769px){
    .header__logo {
        width: 15%;
    }
    
    .main__login-container {
        margin: 5% 25%;
   }

   .footer__contacto-sucursal {
    font-size: 20px;
}

.footer__contacto-redes h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer__logo-contacto {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

 }

@media (min-width: 1024px){
    .footer__contactoSurcusal p {
        font-size: 16px;
    }

    
}