<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/styles-not-found.css">
    <link rel="stylesheet" href="/css/styles-header.css">

    <title>Golosinas Mailin</title>
</head>
<body>

     <header>
        <div class="header__container">
            <div class="header__logo">
                <a href="/">
                    <img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="golosinas-mailin" />
                </a>
            </div>

        </div>
    </header>

    <main>
        <div class="main__container">
            <div class="main__img">
                <img src="/images/404-error.jpg" class="img_error">
            </div>
            
            <div class="main__error">
                <h1 class="code__error">404 </h1>
                <h1 class="text__error">Página no encontrada</h1>
            </div>
            
        </div>
        
    </main>


    <%- include('./partials/footer') %>

</body>
</html>