
<footer>
    <div class="footer">
        <img src="/images/logo-golosinas-mailin.svg" alt="" />
        <div class="footer__contacto">

            <div class="footer__contactoSurcusal">
                <h3 class="footer__contacto-sucursal">Sucursal</h3>
                <p class="footer__contacto-direc">Av. Bolivia Sur 125 (La Banda)</p>
                <p><i class="fa-solid fa-phone"></i> 385-4123456</p>
            </div>
            <div class="footer__contacto-redes">
                <h3>Nuestras Redes</h3>
                <div class="contacto-redes">
                    <a href="https://www.facebook.com/people/Golosinas-Mailin-Mayorista/100064696055833/"
                        class="img-redes"><img src="/images/facebook.png" alt="facebook"></a>
                    <a href="https://www.instagram.com/golosinas_mailin/" class="img-redes"><img src="/images/instagram.png" alt="instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>