<header>
    <div class="header__container">
        <div class="header__logo">
            <a href="/"><img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="" /></a>
        </div>

        <nav class="nav-bar">
            <ul class="nav-bar__options">
                <li><a href="">Categorias</a></li>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>

        <form class="header__search">
            <input type="search" placeholder="Buscar..." class="header__search--input" />
            <button class="header__search--icon"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="header__icons">

            <a href="/user/login" class="header__icons--user"><i class="fa-solid fa-circle-user"></i></a>
            <a href="/productos/cart" class="header__icons--cart"><i class="fa-solid fa-cart-shopping"></i></a>

            <div class="header__burguer-menu">
                <input type="checkbox" id="burguer-menu" class="input__burguer-menu">
                <label for="burguer-menu"><i class="fas fa-bars"></i></label>
              
                <ul class="burguer-menu__options">
                    <li><a href="">Categorias</a></li>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>

            </div>

        </div>
    </div>
</header>