<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-login.css">
    <title>Golosinas Mailin</title>
</head>
<header>
    <div class="header__container">
        <div class="header__logo">
            <a href="/"><img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="" /></a>
</header>   
    <body>
    <main>
    <div class="main__login-container">
            <form action="#" method="post">
            <h2>Ingresa a tu cuenta:</h2>
            <div class="main__form-group">
                <input type="text" id="username" name="username" required placeholder="Usuario o email">
            </div>
            <div class="main__form-group">
                <input type="password" id="password" name="password" required placeholder="Contraseña">
            </div>
            <div class="main__recordarUsuario">
                <label>
                    <input type="checkbox" id="recordarUsuario" name="recordarUsuario">
                    Recordar usuario 
                </label>
            </div>    
            <div class="main__form-group">
                <button type="submit">Ingresar</button>
            </div>
        </form>
        <p class="main__options"><a href="/user/register">*No estoy registrado</a></p>
    </div>
</main>

<%- include('../partials/footer')  %>

</body>
</html>