<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">


    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/styles-login.css">
    <title>Golosinas Mailin</title>
</head>
<header>
    <div class="header__container">
        <div class="header__logo">
            <a href="/"><img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="" /></a>
</header>   
    <body>
    <main>
    <div class="main__login-container">
            <form action="#" method="post">
            <h2>Ingresa a tu cuenta:</h2>
            <div class="main__form-group">
                <input type="text" id="username" name="username" required placeholder="Usuario o email">
            </div>
            <div class="main__form-group">
                <input type="password" id="password" name="password" required placeholder="Contraseña">
            </div>
            <div class="main__form-group">
                <button type="submit">Ingresar</button>
            </div>
        </form>
        <p class="main__options"><a href="/register">*No estoy registrado</a></p>
    </div>
</main>

<footer>
    <div class="footer">
        <img src="/images/logo-golosinas-mailin.svg" alt="" />
        <div class="footer__contacto">

            <div class="footer__contactoSurcusal">
                <h3 class="footer__contacto-sucursal">Sucursal</h3>
                <p class="footer__contacto-direc">Av. Bolivia Sur 125 (La Banda)</p>
                <p><i class="fa-solid fa-phone"></i> 385-4123456</p>
            </div>
            <div class="footer__contacto-redes">
                <h3>Nuestras Redes</h3>
                <div class="contacto-redes">
                    <a href="https://www.facebook.com/people/Golosinas-Mailin-Mayorista/100064696055833/"
                        class="img-redes"><img src="/images/facebook.png" alt="facebook"></a>
                    <a href="https://www.instagram.com/golosinas_mailin/" class="img-redes"><img src="/images/instagram.png" alt="instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>