<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/styles-register.css">

    </head>

    <body>
        <header>
            <div class="header__container">
                <div class="header__logo">
                    <a href="/">
                        <img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="golosinas-mailin" />
                    </a>
                </div>

            </div>

        </header>

        <main>
            <div class="formulario-register">
                <form action = "/register" method = "POST" class = "form-register" >
                    <h2 class="title-register">¡Registrate!</h2>
                    <br>


                    <div><label> Nombre
                        <br>
                        <br>

                        <input type="text" name="nombre" id="nombre" minlength="3" required>
                    </label></div>

                    <div><label> Apellido
                        <br>
                        <br>

                        <input type="text" name="apellido" id="apellido" minlength="2" required>
                    </label></div>

                    <div><label> Email
                        <br>
                        <br>

                        <input type = "email" name="email" id="email" required>
                    </label></div>

                    <div><label> Usuario
                        <br>
                        <br>

                        <input type = "text" name="usuario" id="usuario" required>
                    </label></div>
                    
                    <div><label> Contraseña
                        <br>
                        <br>

                        <input type = "password" name="password" id="password" required>
                    </label></div>
                    
                    <div><label> Repetir contraseña
                        <br>
                        <br>

                        <input type="password"  name="confirmPassword" id="confirmPassword" required>
                    </label></div>

                        <label><input class = "termInput"  type = "checkbox" id = "terminos" name = "aceptaTerminos" required>  Términos y condiciones </label>
                        <br>

                    <div class="btn-form">

                        <button type = submit> ¡Registrarme!

                    </div>
                </form>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>